td, th{
    border: 1px solid black;
}
table{
    border-collapse: collapse ;
}

.table2{
    margin-left: 30%;
}

.table2, .tr th, .td{
    border: 2px solid red;
    align-items: center;
    padding: 20px;
}
.caption2{
    caption-side: bottom;
    text-decoration: underline;
}

.mediaQuery{
    color: rgb(48, 133, 104);
    text-transform: uppercase;
}

@media  screen and (max-width: 900px) {
    .mediaQuery{
        color: rgb(168, 42, 42);
        text-transform: lowercase;
    }
}